body {
    padding: 0; 
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
} 

video{
        transform: scale(1.5,1.5);
    }
    
#sketch{
        background:black ;
}

